* {
  box-sizing: border-box;
}

body {
  background: #f4f3e9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-size: 1rem;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: Didot;
  font-weight: 400;
  src: url("../fonts/GFS_Didot/GFSDidot-Regular.ttf") format(truetype);
}
@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
}
.button {
  background: #eefc7e;
  color: black;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 999px;
  width: 150px;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button .icon {
  width: 1rem;
  height: 1rem;
  margin-left: 8px;
}

.action-primary {
  background-color: #2b473e;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  border-radius: 999px;
  padding: 6px 20px;
  border: 0;
  cursor: pointer;
}
.action-primary:hover {
  opacity: 0.8;
}

.action-secondary {
  background-color: transparent;
  color: #2b473e;
  border-radius: 999px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 6px 20px;
  border: 0;
  cursor: pointer;
}
.action-secondary:hover {
  background-color: lightgrey;
}

header.menu .container {
  position: relative;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}
header.menu .container nav {
  position: absolute;
  top: 0;
  left: -250px;
  height: 100vh;
  background-color: #fff;
  width: 250px;
  padding: 20px;
  z-index: 1;
  box-shadow: #000 -16px -1px 20px 9px;
  transition: left 0.4s ease-out;
}
header.menu .container nav.open {
  left: 0;
}
header.menu .container nav .list-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header.menu .container nav .list-container ul.menu-items-list {
  padding: 0;
  margin: 0;
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header.menu .container nav .list-container ul.menu-items-list li.menu-item {
  list-style: none;
  text-transform: uppercase;
}
header.menu .container nav .list-container img#close-menu {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
header.menu .container nav .list-container .header-actions-mobile {
  display: flex;
  width: 100%;
  gap: 20px;
}
header.menu .container .header-fixed {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.menu .container .header-fixed img#open-menu {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
header.menu .container .header-actions-desktop {
  display: none;
}
@media (min-width: 62rem) {
  header.menu .container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header.menu .container nav {
    background-color: transparent;
    box-shadow: unset;
    position: static;
    width: fit-content;
    height: unset;
    padding: 0;
  }
  header.menu .container nav .list-container .header-actions-mobile {
    display: none;
  }
  header.menu .container nav .list-container ul.menu-items-list {
    height: unset;
    gap: 30px;
    flex-direction: row;
  }
  header.menu .container nav img#close-menu {
    display: none;
  }
  header.menu .container .header-fixed {
    padding: 0;
  }
  header.menu .container .header-fixed img#open-menu {
    display: none;
  }
  header.menu .container .header-actions-desktop {
    display: flex;
  }
}

main {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

section#home-banner {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: aquamarine;
}
section#home-banner .banner-image {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  background-image: url("../images/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section#home-banner .banner-content {
  position: relative;
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
section#home-banner .banner-content .banner-info {
  color: #fff;
}
section#home-banner .banner-content .banner-info span {
  text-transform: uppercase;
  font-size: 1rem;
}
section#home-banner .banner-content .banner-info h1 {
  margin: 1rem 0;
  font-weight: 300;
  font-size: 3rem;
  width: 370px;
  line-height: 3.5rem;
}
@media (min-width: 48rem) {
  section#home-banner .banner-content .banner-info h1 {
    font-size: 4rem;
  }
}

section#food-presentation .carousel-header {
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section#food-presentation .carousel-header ul.food-classes {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
}
section#food-presentation .carousel-header ul.food-classes li {
  position: relative;
  font-family: Didot;
  font-size: 1.5rem;
  list-style: none;
  color: #96958c;
  cursor: pointer;
}
@media (min-width: 48rem) {
  section#food-presentation .carousel-header ul.food-classes li {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=index.css.map */
