$bg: #f4f3e9;
$button: #eefc7e;
$card: #e4dcc9;
$header-text: #2b473e;
$faded-text: #96958c;

$breakpoint-xs: 36rem;
$breakpoint-sm: 48rem;
$breakpoint-md: 62rem;
$breakpoint-lg: 75rem;
$breakpoint-xl: 88rem;

$content-width: 75rem;
